

<mat-card [class.todo-item]="true" [class.completed]="todo.completed" [ngClass]="getPriorityClass(todo.priority)" >
  <mat-card-header class="">
    <mat-card-title class="mat-card-title">
      <h3 class="toto-title">{{ todo.title }} </h3>
      <button  mat-icon-button matTooltip="Delete" (click)="deleteTodo(todo)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>{{ todo.description }}</p>
    <p >Priority: {{ todo.priority }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button [disabled]="todo.completed" class="btn-edit" mat-icon-button matTooltip="Edit" (click)="editTodo(todo)">
      <mat-icon>edit</mat-icon>
    </button>
    <button [disabled]="todo.completed" mat-icon-button matTooltip="Complete" (click)="completeTodo(todo)">
      <mat-icon>check</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>

